.main-content .card-deck .card {
  margin-bottom: 20px;
  line-height: 1;
}

.main-content .card-deck .card .card-body {
  padding: 40px 20px;
}

.main-content .card-deck .card .card-body .card-title {
  font-weight: bold;
  font-size: 1.5em;
}

.main-content .card-deck .card .card-title {
  margin-bottom: 0px;
}

.main-content .widecards .card {
  margin-bottom: 20px;
}



.main-content .widecards .card .card-body {
  height: 150px;
}

.main-content .widecards .card .card-footer .card-title {
  font-size: 1.5em;
}

.main-content .widecards div.card:first-child {
  background-color: #1897CE;
}

.main-content .widecards div.card:nth-child(2) {
  background-color: #CB5CAD;
}
